*{
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.head-details{
	display: flex;
	justify-content: space-between;
	background-color: #3A3A3A;
	height: 39px;
	line-height: 39px;
}
.main-title{
	color: #CFD4DF;
	padding-left: 80px;
}
.top-details a{
	color: #CFD4DF;
	text-decoration: none;
	padding: 10px;
}
#top-icon{
	color: #266BF9;
	padding-right: 12px;
}
.main-head{
	height: 104px;
	background-color: #3A3A3A;
	display: flex;
	justify-content: space-around;
	margin-top: -32px;
}
.head-logo{
/*	line-height: 104px;*/
    margin-top: 30px;
	font-size: 22px;
	color: #fff;
}
.head-search{
	margin-top: 28px;
	height: 45px;
	width: 404px;
	background-color: #266BF9;
	border-radius: 10px;
}
.head-search input{
	height: 45px;
	width: 85%;
	padding-left: 10px;
	font-size: 15px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border: none;
}
.head-search input:focus{
	outline: none;
}
#search{
	color: #fff;
	padding-left: 11px;
}
.head-icon i{
	color: #fff;
	font-size: 30px;
	margin-top: 35px;
	opacity: 85%;
}
nav{
	background-color: #266BF9;
	height: 50px;
	text-align: center;
	animation: navAnim 3s linear 0.5s infinite normal;
}
nav a{
	color: #fff;
	text-decoration: none;
	line-height: 50px;
	padding: 20px;
	transition: 0.5s;
}
nav a:hover{
	text-shadow: 2px 2px 10px #fff;
}
@keyframes navAnim{
	0%{background-color: #266Bf9}
	25%{background-color: #266Bf9}
	50%{background-color: #03185c}
	75%{background-color: #03185c}
	100%{background-color: #266Bf9}
}
/* for footer */
.main-footer{
	display: flex;
	justify-content: space-evenly;
	background-color: #f5f8fc;
	padding-top: 80px;
	padding-bottom: 80px;
}
.footer-end{
	display: flex;
	justify-content: space-between;
}
.footer-box1 h1{
	font-size: 38px;
	padding-bottom: 10px;
}
.footer-box1 p{
	line-height: 30px;
}
.footer-box2 h2{
	font-size: 25px;
	padding-bottom: 10px;
}
.footer-box3 h2{
	font-size: 25px;
	padding-bottom: 10px;
}
.footer-box4 h2{
	font-size: 25px;
	padding-bottom: 10px;
}
.footer-icon i{
	color: #fff;
	background-color: #4E4E4E;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 5px;
	margin: 3px;
	transition: 0.5s;
}
.footer-icon i:hover{
	background-color: #266BF9;
}
.footer-end{
	background-color: #e6eefa;
	height: 70px;
}
.footer-box2 a{
	text-decoration: none;
	color: #000;
	line-height: 30px;
	transition: 0.5s;
}
.footer-box2 a:hover{
	color: #266BF9;
}
.footer-box3 a{
	text-decoration: none;
	color: #000;
	line-height: 30px;
}
.footer-box3 a:hover{
	color: #266BF9;
}
.footer-box4 a{
	text-decoration: none;
	color: #000;
}
.footer-box4 a:hover{
	color: #266BF9;
}
.footer-end-txt p{
	margin-left: 70px;
	margin-top: 25px;
}
#footer-icon{
	color: #266BF9;
}
.footer-end-img{
    margin-top: 25px;
    margin-right: 70px;
}
.cor{
    background-color: #cdd7eb;
    height: 400px;
    width: 100%;
}
.cor h2{
    text-align: center;
    font-size: 60px;
    padding-top: 120px;
}
.cor p{
    text-align: center;
    font-size: 20px;
}
.cor img{
    margin-left: 1150px;
    margin-top: -100px;
}
.del h3{
    font-size: 50px;
    padding-top: 70px;
}
.del h1{
    font-size: 70px;
}
.del p{
    padding-top: 15px;
}
.del img{
    width: 100%;
    height: 450px;
    padding-top:60px;
	border-radius: 20px;
}
.del h2{
    padding-top: 40px;
    font-size: 50px;
}
.pol{
    padding-top: 40px;
}
.pol h2{
    text-align: center;
    padding-top: 20px;
}
.pol p{
    text-align: center;
}
.min{
    display: flex;
	align-items: center;
}
.min i{
    font-size: 30px;
    padding-top: 75px;
    padding-left: 100px;
}
.min p{
    padding-left: 20px;
    padding-top: 70px;
}
.fin{
    background-color: rgb(69, 153, 209);
    height: 200px;
    width: 100%;
    border: 1px solid rgb(202, 173, 173);
    border-radius: 30px;
}
.dim{
    height: 400px;
    width: 100%;
    background-color: #dde3ec;
    padding-top: 50px;
}
.sil img{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    border-radius: 180px;
}
.sil p{
    padding-top: 20px;
}
/* Media query for responsive website */
@media only screen and (max-width: 900px) {
	.head-details{
		width: 100%;
	}
	.main-title{
		font-size: 12px;
		text-align: left;
		margin-left: 30px;
	}
	.head-search{
		margin-top: 30px;
		height: 35px;
		width: 204px;
		background-color: #266BF9;
		border-radius: 10px;
	}
	.head-search input{
		height: 35px;
		width: 75%;
		padding-left: 20px;
		font-size: 15px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		border: none;
	}
	.main-head{
		width: 100%;
	}
	.head-search{
		size: 0%;
		position: relative;
		top: 12px;
	}
	.head-icon{
		position: relative;
		top: 10px;
	}
	#top-icon{
		display: none;
	}
	#acc{
		display: none;
	}
	nav{
		width: 100%;
	}
	.head-logo{
		margin-top: 50px;
	}
	hr{
		display: none;
	}
	#ps{
		width: 100%;
	}
	.fin{
		display: none;
	}
	#gey{
		display: none;
	}
	#client{
		display: none;
	}
	#review{
		padding: 50px;
	}
  }